<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>API & Express</title>
<style>
    table.border, th.border, td.border {
  border: 1px solid;
  border-collapse: collapse;
}
</style>
</head>
<body>
<div>
    <table style="width:100%">
        <tr>
            <td><span style="font-size: 22px;font-weight: 600;">SIT725 - Practice 2</span></td>
        </tr>
        <tr>
            <td><span style="font-size: 12px;font-weight: 600;">By Navin Dharmarajan</span></td>
        </tr>
    </table>
    <table class="border">
        <tr >
            <td class="border" style="width:10%">Method</td>
            <td class="border"  style="width:40%">Url</td>
            <td class="border"  style="width:40%">Sample URL</td>
        </tr>
        <tr>
            <td class="border"  style="width:10%">GET</td>
            <td class="border"  style="width:40%">http://localhost:3000/addTwoNumbers</td>
            <td class="border"  style="width:40%">http://localhost:3000/addTwoNumbers?number1=4&number2=5</td>
        </tr>
        <tr>
            <td class="border"  style="width:10%">POST</td>
            <td class="border"  style="width:40%">http://localhost:3000/addition</td>
            <td class="border"  style="width:40%">http://localhost:3000/addition?numbers=5,5,5</td>
        </tr>
        <tr>
            <td class="border"  style="width:10%">POST</td>
            <td class="border"  style="width:40%">http://localhost:3000/subTwoNumbers</td>
            <td class="border"  style="width:40%">http://localhost:3000/subTwoNumbers?number1=4&number2=5</td>
        </tr>
        <tr>
            <td class="border"  style="width:10%">PUT</td>
            <td class="border"  style="width:40%">http://localhost:3000/updateArray</td>
            <td class="border"  style="width:40%">http://localhost:3000/updateArray?number=9</td>
        </tr>
        <tr>
            <td class="border"  style="width:10%">DELETE</td>
            <td class="border"  style="width:40%">http://localhost:3000/deleteArray</td>
            <td class="border"  style="width:40%">http://localhost:3000/deleteArray?number=2</td>
        </tr>
    </table>
</div>


</body>
</html>